<!DOCTYPE html>
<html>
<head>
    <title>CodeFlow app Demo</title>
    <link rel="stylesheet" type="text/css" href="styles/css/main.css">
</head>
<body>
    {% block body %}
    {% endblock %}
    <p>Oh by the way, it's <span id="clock"></span></p>
    <script type="text/javascript" src="scripts/time.min.js"></script>
</body>
</html>